/* Add class styles */
.name {
    color:blue; 
    background-color: white;
}
.speech{
    font-family: 'Courier New', Courier, monospace; 
    font-size: 12pt; 
    color: black;
}
.direction{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 14pt; 
    color: black; 
    background-color: aqua;
}
.lane {
    color:purple
}
.mrsbauer{
    color: red
}
name:hover{
    text-shadow: 8px 8px orange;
    border-style: dashed;
}
direction:hover{
    background-color: yellow; 
    color: brown;
}

/* Table styles */
table, th, td{
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    background-color: #04AA6D;
    color: white;
  }